.cache
.classpath
.idea/*
!.idea/vcs.xml
!.idea/icon.png
.metadata
.settings
.project
target
.version.properties
*.class
*.iml
*.swp
*.jar
*.log
*.pyc
.DS_Store
*.ipr
*.iws
dependency-reduced-pom.xml
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/include/topic0/canal-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic0/canal-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic1/canal-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic0/canal-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic1/canal-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic0/canal-data-3.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic1/canal-data-3.txt
/deploy/trino/Dockerfile
/deploy/trino/conf/dorisdw.properties
/deploy/trino/conf/jvm.config
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic0/maxwell-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic1/maxwell-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic2/maxwell-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic0/maxwell-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic1/maxwell-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic2/maxwell-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic0/maxwell-data-3.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic1/maxwell-data-3.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic2/maxwell-data-3.txt
/deploy/trino/conf/paimon.properties
/deploy/
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/include/topic0/canal-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic0/canal-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic1/canal-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic0/canal-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic1/canal-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic0/canal-data-3.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/prefixsuffix/topic1/canal-data-3.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic0/maxwell-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic1/maxwell-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic2/maxwell-data-1.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic0/maxwell-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic1/maxwell-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic2/maxwell-data-2.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic0/maxwell-data-3.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic1/maxwell-data-3.txt
/paimon-flink/paimon-flink-common/src/test/resources/kafka.maxwell/database/schemaevolution/topic2/maxwell-data-3.txt
